<div class="detail panel sc-panel">
    <div class="panel-heading" class="detail panel sc-panel">
        <h3 class="panel-title">Summary</h3>
        {{#if editable}}
            <a href="#" id="edit-details">edit</a>
        {{/if}}
    </div>

    <ul class="list-group sc-sidebar-list">
        <li class="list-group-item">
            <div class="sc-list-item-label clearfix">
                Spend
            </div>
            <div class="sc-list-item-value">
                {{formatMoney insights.spend}}
            </div>
        </li>
        <li class="list-group-item">
            <div class="sc-list-item-label clearfix">
                Conversions
            </div>
            <div class="sc-list-item-value">
                {{formatNumber insights.conversions}}
            </div>
        </li>
        <li class="list-group-item">
            <div class="sc-list-item-label clearfix">
                Revenue
            </div>
            <div class="sc-list-item-value">
                {{formatMoney insights.conversion_revenue}}
            </div>
        </li>
        <li class="list-group-item">
            <div class="sc-list-item-label clearfix">
                ROAS
            </div>
            <div class="sc-list-item-value">
                {{roas insights.spend insights.conversion_revenue }}
            </div>
        </li>
    </ul>
</div>
