<div id="toolbar" class="sc-navbar navbar-fixed">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{{viewName}}-toolbar-options">
                Menu
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="{{viewName}}-toolbar-options">
            <span>DR Insights | </span>
            <span class="toolbar-second-name"><a href="/funnel/{{funnel.id}}/">{{ funnel.name }}</a></span>
        </div>
    </div>
</div>
